* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.max-container {
    width: 1200px;
    height: auto;
}

section {
    width: 100%;
}

.head {
    width: 100%;
    height: 100px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
}

.head .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.head .logo h1 {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head .logo p {
    font-size: 20px;
    font-weight: 600;
}

.head-elements nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.head-elements nav ul a {
    font-size: 18px;
    font-weight: 600;
    color: black;
    position: relative;
}

.head-elements nav ul a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 00%;
    height: 1px;
    background: black;
    transition: 0.3s ease;
}

.head-elements nav ul a:hover::before {
    width: 100%;
}

.head-elements nav ul .head-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s ease;
}

.head-elements nav ul .head-btn:hover {
    background-color: white;
    color: black;
}

.home-section {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.home-section .max-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.home-soical-l,
.home-soical-r {
    flex: 1;
}

.home-soical-r {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-soical-l {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-soical-l .soical-l-head {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home-soical-l .soical-l-head h1 {
    font-size: 40px;
    font-weight: 700;
}

.home-soical-l .soical-l-head h1 span {
    background-color: yellow;
    padding: 2px 5px;
    color: black;
}

.home-soical-l .soical-l-head .soical-l-head-btn {
    background-color: yellow;
    color: black;
    width: 200px;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid yellow;
    transition: 0.3s ease;
    font-weight: 700;
    font-size: 25px;
}

.social-l-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.social-l-main-main-referense {
    display: flex;
    gap: 20px;
}

.social-l-main-main-referense-item h1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}


main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 0;
}

.about-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}


.about .about-section-l,
.about .about-section-r {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .about-section-l img {
    width: 70%;
    object-fit: cover;
}


.about-section-r p span {
    font-size: 30px;
    font-weight: 700;
}



.services-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 100px 0;
    background-color: red;
}

.service .service-section-l {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service .service-section-r{
    flex: 1;
}

.service-section-r {
    width: 500px;
    height: 500px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}


.service-section-r img {
    width: 100%;
    display: flex;
    gap: 20px;
}


footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 100px 0;
}

footer .footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .max-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


footer .footer-main {
    display: flex;
    gap: 120px;
}

footer .footer-main .footer-main-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-main .footer-main-item ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

footer .footer-main .footer-main-item ul li:hover {
    color: yellow;
}